.modal-header
  h3.modal-title About Me
  button.btn.btn-warning(ng-click='cancel()') Close
.modal-body
  h4.modalContent.topper Andrew Cunliffe
  p.moder1 I love solving problems, I love polishing the finer details, and I love giving the user the best experience possible. I am constantly learning, whether it's a new prototyping software, a JavaScript library, a design best practice, or a new song on guitar or bass.<br><br>I have a full throttle outlook on life and work, and cannot relax until the objective is achieved. I would like to find my way onto a design team at a startup or design firm in San Francisco where I can have a large impact on the product and the end user.<br><br>When I am not pushing code or pixels, I enjoy taking my dogs to the Wave Organ, playing music, powerlifting, reading, martial arts, and watching sports.
  .row-fluid
   a(href='mailto:cunliffeandrewc@gmail.com?Subject=Hello%20There', target='_blank')
    button.btn.btn-warning.prot Email
   a(href='https://www.dropbox.com/s/k5tdmgqqm4mbeyt/ACResumeUX4.pdf?dl=0', target='_blank')
    button.btn.btn-warning.resume Résumé
   button.btn.btn-warning.bottom(ng-click='cancel()') Close
  h4.modalContent This site is my creation
  p.moder1 From taking the parallax pictures, to hand designing the logo, to utilizing AngularJS and Bootstrap to make it accesible across all devices.
  h4.modalContent Logo Design
  p.moder2 Hand drawn logo 
  img.inline.ts(src='/images/logoHand.jpg')
  p.moder2 creating the logo in sketch
  img.inline.ts(src='/images/logoSketch2.jpg')
  <br><br>
  .row-fluid
   button.btn.btn-warning.bottom(ng-click='cancel()') Close
  <br>






