.modal-header
  h3.modal-title About Me
  button.btn.btn-warning(ng-click='cancel()') Close
.modal-body
  .row-fluid
   a(href='mailto:cunliffeandrewc@gmail.com?Subject=Hello%20There', target='_blank')
    button.btn.btn-warning.prot Send Electronic Mail
   a(href='https://www.dropbox.com/s/c8xwobnd6205flr/ACResumeUX1.docx?dl=0', target='_blank')
    button.btn.btn-warning.resume Résumé
   button.btn.btn-warning.bottom(ng-click='cancel()') Close
  






