.modal-header
  h3.modal-title Contact
  button.btn.btn-warning(ng-click='cancel()') Close
.modal-body
  a.btn.btn-warning(href='mailto:cunliffeandrewc@gmail.com?Subject=Hello%20There', target='_top') Send Mail
    
    

  






