.modal-header
  h3.modal-title About Me
  button.btn.btn-warning(ng-click='cancel()') Close
.modal-body
  h4.modalContent.topper Andrew Cunliffe
  p.moder1 I love solving problems, I love polishing the finer details, and I love giving the user the best experience possible. I am constantly learning and evolving, which could be learning a new prototyping software, Javascript library, design best practice, or a new song on guitar or bass.<br><br>I have a full throttle outlook on life and work, and cannot relax until the objective is achieved. I would like to find my way onto a small design team at a startup in San Francisco where I can have a large impact on the product and the end user.<br><br>I live in San Francisco's Marina District with my fiance and our two dogs. When I am not pushing code or pixels I enjoy Americana, taking my dogs to the Wave Organ, playing music, powerlifting, reading, martial arts, cooking, and watching sports.
  .row-fluid
   a(href='mailto:cunliffeandrewc@gmail.com?Subject=Hello%20There', target='_blank')
    button.btn.btn-warning.prot Send Electronic Mail
   a(href='https://www.dropbox.com/s/paaont6vwu47jlz/ACResumeUX2.docx?dl=0', target='_blank')
    button.btn.btn-warning.resume Résumé
   button.btn.btn-warning.bottom(ng-click='cancel()') Close
  






