.modal-header
  h3.modal-title poolshrk
  button.btn.btn-warning(ng-click='cancel()') Close
.modal-body
  h4.modalContent.topper What is poolshrk?
  p.moder1 An app to help teach you to be a better pool player using your smartphone and its camera
  h4.modalContent What Part did I Play?
  p.moder1 I designed and built a low fidelity clickable protoype of the app
  h4.modalContent Why poolshrk?
  p.moder1 This was my first project at General Assembly, after partnering up I had to design an app to improve my partner's life. He wanted to be better at playing pool.
  img.inline.ts(src='/images/poolShrk.png')









