.modal-header
  h3.modal-title Lendeavor
  button.btn.btn-warning(ng-click='cancel()') Close
.modal-body
  h4.modalContent.topper What is Lendeavor?
  p.moder1 Lendeavor is essentially a market maker; using a proprietary algorithm they match small businesses with small business loans, based on criteria provided by the business and the lender.
  h4.modalContent.topper The Problem to Solve
  p.moder1 How to design a small business loan web application seem trustworthy, transparent, and human.
  img.inline.ts(src='/images/lendytop1.png')
  h4.modalContent What Part did I Play?
  p.moder1 As part of a four-person team I had my hand in every part of the design process, though I played the smallest part in the visuals. Leveraging our team’s talent, I focused mainly on the technical side, building a coded prototype and designing a large part of the interface, while other members focused on user research and visual design. Beside the fact that I wrote all of the code, it was truly a team effort, with all team members having a near equal effect on the design.
  h4.modalContent Why?
  p.moder1 Lendeavor is an already established company with the technical and business angles covered. Their design was not user centered, however, and they needed a fresh set of eyes to realize, and design for, their core users.
  h4.modalContent Initial Research and Brainstorming
  p.moder1 The team came together and brainstormed about the financial industry, applying for, lending, and borrowing money. The consensus was that a huge amount of empathy toward small business owners was going to be needed, with no one on the team having any real experience being a small business owner; user research was going to be critical.
  h4.modalContent Brainstorming in Action
  p.moder1 Mind mapping and spider mapping was used to put the team member's personal emotions and thoughts down in words.
  p.moder2 Initial mind map
  img.inline.ts(src='/images/lmindmap.png')
  p.moder2 The team’s spider maps
  img.inline.ts(src='/images/lspidermap.png')
  p.moder2 Out of spider and mind mapping these are the words that came up
  img.inline.ts(src='/images/wordCloud.png')
  p.moder1 A team member drew this storyboard, the small business owner is trying to push their business up a mountain, and right when they get to the top, they need funds they don't have to crest the apex. Lendeavor comes in and saves the day by matching them to a lender who gets them the funding they need to help the success of their business.
  img.inline.ts(src='/images/lendySB.png')
  h4.modalContent Competitive Analysis
  p.moder1 The team analyzed financial websites, as well as sites where users have to input sensitive information.
  p.moder2 Competitive analyis
  img.inline.ts(src='/images/lca.png')
  h4.modalContent User Research
  p.moder1 The team had to go out and find users to research. Being students hired free of cost, the team did not have any incentive to offer to research subjects, and thus had to rely on friends, family, and individuals surveyed online. The team tried to focus on small business owners, but also surveyed people who have gone through a loan process before, mostly those who had taken out car or home loans.<br><br>The key takeways were borrowers needed a lot of information to know that the comapny lending to them had their best interests in mind, and that they did like the human-to-human interaction of talking to a real human beng in a branch.
  p.moder2 Key quotes from user interviews
  img.inline.ts(src='/images/lquotes.png')
  p.moder1 Based on research and user interviews the team was realizing the empathy of core users and zeroing in on their main pain points. By recognizing these pain points, the team was able to furnish a problem and solution statement, as well as apply the users' emotions to an afinity map.
  p.moder2 Affinity Mapping
  img.inline.ts(src='/images/laffinity.png')
  p.moder1 With the problem and solution statements in place, and the emotions users conveyed about the lending process identified in the affinity map, a basic user flow was produced. Based on all of the above, a mental model assocaiting user emotions to the user flow was constructed to prime the team for a design studio exercise targeting the landing page's interface.
  p.moder2 Initial user flow
  img.inline.ts(src='/images/liuserflow.png')
  p.moder2 Mental model
  img.inline.ts(src='/images/lmm1.png')
  <br>
  img.inline.ts(src='/images/lmm2.png')
  <br><br>
  .row-fluid
   a(href='http://lendy.jit.su/', target='_blank')
    button.btn.btn-warning.prot Coded Prototype
   a(href='https://projects.invisionapp.com/share/6929C6FJS#/screens', target='_blank')
    button.btn.btn-warning.resume InVision Prototype
   button.btn.btn-warning.bottom(ng-click='cancel()') Close
  <br>








