.modal-header
  h3.modal-title This Site
  button.btn.btn-warning(ng-click='cancel()') Close
.modal-body
  h4.modalContent.topper The Problem to Solve
  p.moder1 How do I show my work in an aesthetically pleasing yet functional manner?
  img.inline.ts(src='/images/mobileSite.png')
  h4.modalContent What Part did I Play?
  p.moder1 I designed and built everything in and on this site
  h4.modalContent Why?
  p.moder1 I need to have a place to show my work, and every aspect of the design process. From user research to visual design and beyond.
  h4.modalContent Logo Design
  p.moder1 Hand drawn logo
  img.inline.ts(src='/images/logoHand.jpg')
  p.moder1 creating the logo in sketch
  img.inline.ts(src='/images/logoSketch1.png')
  p.moder1 I used Twitter Bootstrap and Jade templates to make this site responsive across multiple devices
  img.inline.ts(src='/images/jadeCode.jpg')
  .row-fluid
   button.btn.btn-warning.bottom(ng-click='cancel()') Close
  <br>








