.modal-header
  h3.modal-title Rand McNally
  button.btn.btn-warning(ng-click='cancel()') Close
.modal-body
  h4.modalContent.topper What is Rand McNally?
  p.moder1 Rand McNally, a long standing map, atlas, globe, and GPS maker, wanted a GeoCaching Application. Geocaching is like a real world scavenger hunt.
  img.inline.ts(src='/images/RMFirst.png')
  h4.modalContent What Part did I Play?
  p.moder1 I worked with a team of two other people to design and build a high fidelity clickable protoype of the app
  h4.modalContent Why Rand McNally Geocaching?
  p.moder1 This was my third project at General Assembly, and my first group project.
  h4.modalContent Sketches
  p.moder1 Early sketches of the app
  img.inline.ts(src='/images/RMSketch1.jpg')
  <br><br>
  img.inline.ts(src='/images/RMSketch2.jpg')
  <br>
  h4.modalContent Mental Model
  img.inline.ts.main(src='/images/rmmm.jpg')
  <br>
  <br><br>
  h4.modalContent First High Fidelity Mockup Iteration 
  p.moder1 search and settings
  img.inline.ts(src='/images/RMSearch1.png')
  img.inline.ts(src='/images/RMSettings1.png')
  <br>
  <br><br>
  h4.modalContent Second High Fidelity Mockup Iteration 
  p.moder1 This iteration focused on the education portion of the application
  img.inline.ts(src='/images/RMEducationMap.png')
  img.inline.ts(src='/images/RMEducationPointSelected.png')
  <br>
  p.moder1 This clickable protoype is an example of a possible user flow withn the education portion of the application
  .row-fluid
   a(href='http://invis.io/E920KG1C8', target='_blank')
    button.btn.btn-warning.prot Live Prototype
  .row-fluid
   button.btn.btn-warning.bottom(ng-click='cancel()') Close
  <br>
  






