.modal-header
  h3.modal-title Rand McNally
  button.btn.btn-warning(ng-click='cancel()') Close
.modal-body
  h4.modalContent.topper What is Rand McNally?
  p.moder1 Rand McNally, a long standing map, atlas, globe, and GPS maker, wanted a GeoCaching Application. Geocaching is like a real world scavenger hunt.
  h4.modalContent What Part did I Play?
  p.moder1 I worked with a team of two other people to design and build a high fidelity clickable protoype of the app
  h4.modalContent Why Rand McNally Geocaching?
  p.moder1 This was my third project at General Assembly, and my first group project.
  img.inline.ts(src='/images/RMFirst.png')
  <br>
  .row-fluid
   a(href='http://invis.io/E920KG1C8', target='_blank')
    button.btn.btn-warning.prot Live Prototype
  .row-fluid
   button.btn.btn-warning.bottom(ng-click='cancel()') Close
  <br>
  






