.modal-header
  h3.modal-title stockickr
  button.btn.btn-warning(ng-click='cancel()') Close
.modal-body
  h4.modalContent.topper What is stockickr?
  p.moder1 stockickr was a startup I tried to get off the ground. Working crazy hours with just my cofounder we made it to the beta stage before running out of our savings. Along the way he taught me a lot about writing code, and the best ways to teach myself. I also learned a lot about web and mobile design.
  h4.modalContent What Part did I Play?
  p.moder1 At stockickr I did everything except back end development.
  h4.modalContent Why stockickr?
  p.moder1 I found myself with two main problems: "there is a huge amount of traders and investors on the internet talking about their trades and investments, but there is no way to verify their buying and selling," and "NFL players play in college, high school, and pee wee before going pro, why is there no securities trading in college, even just as a game?"
  img.inline.ts(src='/images/SKiOS1stScreenTab.png')
  








