.modal-header
  h3.modal-title stockickr
  button.btn.btn-warning(ng-click='cancel()') Close
.modal-body
  h4.modalContent.topper What is stockickr?
  p.moder1 stockickr was a startup I tried to get off the ground. Working crazy hours with just my cofounder we made it to the beta stage before running out of our savings. Along the way he taught me a lot about writing code, and the best ways to teach myself. I also learned a lot about web and mobile design.
  img.inline.ts(src='/images/SKiOS1stScreenTab.png')
  h4.modalContent What Part did I Play?
  p.moder1 At stockickr I did everything except back end development.
  h4.modalContent Why stockickr?
  p.moder1 I found myself with two main problems: "there is a huge amount of traders and investors on the internet talking about their trades and investments, but there is no way to verify their buying and selling," and "NFL players play in college, high school, and pee wee before going pro, why is there no securities trading in college, even just as a game?"
  h4.modalContent Sketches
  p.moder1 An early annotated sketch of a user's profile page
  img.inline.ts(src='/images/s3.jpg')
  p.moder1 A printed out wireframe with possible development notations
  img.inline.ts(src='/images/s1.png')
  h4.modalContent Mockups
  p.moder1 This is a high fidelity mockup made in OmniGraffle of a sorority's group homepage
  img.inline.ts(src='/images/alphaPhi.png')
  p.moder1 This is the second design iteration of the login/signup interaction, also built in OmniGraffle
  img.inline.ts(src='/images/skLogin.png')
  h4.modalContent Live Beta
  p.moder1 This is an early version of the live beta application
  img.inline.ts(src='/images/skBeta.png')
  h4.modalContent What Did I Learn?
  p.moder1 I learned how to write front-end code in Javascript, AngularJS, CSS, and HTML, in a limited, but functional, capacity. I read everything online I oculd find about web and mobile design, in every aspect. I leapt into using OmniGraffle to mockup my sketches using visual design practices for desktop and mobile applications.
  .row-fluid
   button.btn.btn-warning.bottom(ng-click='cancel()') Close
  <br>




