.modal-header
  h3.modal-title stockickr
  button.btn.btn-warning(ng-click='cancel()') Close
.modal-body
  h4.modalContent.topper What is stockickr?
  p.moder1 stockickr was a startup I tried to get off the ground. It was just my cofounder and I, we made it to the beta stage before running out of money. Along the way he taught me a lot about writing code, and the best ways to teach myself. I also learned a lot about web and mobile design.
  img.inline.ts(src='/images/SKiOS1stScreenTab.png')
  h4.modalContent What Part did I Play?
  p.moder1 stockickr was my idea, I designed everything from sketches on scratch paper, to the most current design iterations.
  h4.modalContent Why stockickr?
  p.moder1 While trading and blogging about my porfolio positions I found myself with two main problems: "there is a huge amount of traders and investors on the internet talking about their trades and investments, but there is no way to verify their buying and selling," and "NFL players play in college, high school, and pee-wee before going pro, why is there no securities trading in college, even just as a game?"
  h4.modalContent Solution Hypothesis 
  p.moder1 I envisioned a real-time social media platform, where users could track other users' portfolios live in real real-time. The first idea was to just make it an interface where a user enters all their trades in manually, with a beginning balance of $1 million. The key to tracking performance was position percentage weight within their portfolio, thus leveling the playing flied between traders with high value accounts and those with small balances, or no real account at all.
  h4.modalContent Sketches
  p.moder2 An early annotated sketch of a user's profile page
  img.inline.ts(src='/images/s3.jpg')
  p.moder2 A printed out wireframe with possible development notations
  img.inline.ts(src='/images/s1.png')
  h4.modalContent Solution
  p.moder1 The solution to make it accessible to all user groups was to partner with brokerage firms and use their APIs to automatically log user trades when made within their brokerage accounts (We convinced one brokerage firm to agree to it).<br><br>The other option was to offer the "paper" trading accounts with a manual interface. To further expand upon the social aspect of the application, group accounts were designed.The thought process behind the group accounts was to encourage school clubs, teams, and Greek organizations to compete with each other.<br><br>Ultimately the objective was to provide verification for independent traders who are trying to make a name for themselves. Conversely students could get the chance to trade and do financial research before entering into the workforce even if they did not have the funds to trade a real account.
  h4.modalContent Mockups
  p.moder2 This is a high fidelity mockup made in OmniGraffle of a sorority's group homepage
  img.inline.ts(src='/images/alphaPhi.png')
  p.moder2 This is the second design iteration of the login/signup interaction, also built in OmniGraffle
  img.inline.ts(src='/images/skLogin.png')
  h4.modalContent Live Beta
  p.moder2 This is an early version of the live beta application
  img.inline.ts(src='/images/skBeta.png')  
  h4.modalContent Latest Iterations
  p.moder2 We had a two week break over the winter holidays during the UXDi course at GA. During that time I worked designing a mobile app version of stockickr to keep my design skills growing.
  img.inline.ts(src='/images/SKiOSTabLiveSearch.png')
  img.inline.ts(src='/images/SKiOSorderFormTab.png')
  <br><br>
  img.inline.ts(src='/images/SKiOSLoginTab.png')
  img.inline.ts(src='/images/SKiOSUserTab.png')
  <br><br>
  h4.modalContent What Did I Learn?
  p.moder1 I learned how to write front-end code in Javascript, AngularJS, CSS, and HTML, in a limited, but functional, capacity. I read everything online I oculd find about web and mobile design, in every aspect. I leapt into using OmniGraffle to mockup my sketches using visual design practices for desktop and mobile applications.<br><br>Although I did not see my app to market, I learned some of the most valuable knowledge possible. I immersed myself in design and development, while learning a lot about myself along the way. I learned I can work my heart out for something I believe in, even when there is no clear reward in sight.
  <br><br>
  .row-fluid
   button.btn.btn-warning.bottom(ng-click='cancel()') Close
  <br>




