.modal-header
  h3.modal-title TrueSpirit
  button.btn.btn-warning(ng-click='cancel()') Close
.modal-body
  h4.modalContent.topper The Problem to Solve
  p.moder1 An Effiecent, Ellegant And Intuitive eCommerce site
  img.inline.ts(src='/images/1trueSpirit0.png')
  h4.modalContent What Part did I Play?
  p.moder1 I designed and built a high fidelity clickable protoype of the app
  h4.modalContent Why TrueSpirit?
  p.moder1 This was my second project at General Assembly. The objective was to design an online school uniform retailer's eCommerce site that provided the user with the best experience.
  h4.modalContent Sketches
  p.moder2 An early annotated sketch of the search results' layout
  img.inline.ts(src='/images/tsSearchSketch.jpg')
  p.moder2 An early annotated sketch of a product's detail
  img.inline.ts(src='/images/tsProductDetail.jpg')
  p.moder2 Sketch of the mini-cart
  img.inline.ts(src='/images/tsMiniCart.jpg')
  p.moder2 Sketch of the checkout landing page
  img.inline.ts(src='/images/tsCheckout.jpg')
  h4.modalContent Mockups
  p.moder2 The first iteration of a possible mobile navigation user flow
  img.inline.ts(src='/images/tsMobile1.jpg')
  <br><br>
  img.inline.ts(src='/images/tsMobile2.jpg')
  <br>
  <br><br>
  p.moder2 mini-cart screen
  img.inline.ts(src='/images/tsminiCart1.jpg')
  <br>
  <br><br>
  p.moder2 checkout landing screen
  img.inline.ts(src='/images/TScheckout.png')
  <br><br>
  .row-fluid
   a(href='http://invis.io/HG1WN7NFB', target='_blank')
    button.btn.btn-warning.prot Live Prototype
   button.btn.btn-warning.bottom(ng-click='cancel()') Close
  <br>





