extends layout

block body
  .container-fluid.hidden-phone.hidden-tablet(ng-controller='AppCtrl as app')   
    nav#nav.navbar.row-fluid(role='navigation')
      .rmenu
        .menubutton(type='button', data-toggle='dropdown')
          img.logo3(src='/images/3lines.png')
          h3.menutext Menu
        h3.navtext1.hidden-phone Andrew Cunliffe Design
        a.linkedin-icon(href='https://www.linkedin.com/in/cunliffeandrew', target='_blank')
        ul#menu.dropdown-menu.dropdown-menu-left(role='menu', aria-labelledby='dropdownMenu1')
          li#div1(role='presentation')
            a(role='menuitem', tabindex='-1', href='#aboutMe', data-id='div1') About Me
          li.divider(role='presentation')
          li#div2(role='presentation')
            a(role='menuitem', tabindex='-1', href='#stockickr', data-id='div2') stockickr  
          li.divider(role='presentation')
          li#div3(role='presentation')
            a(role='menuitem', tabindex='-1', href='#project1', data-id='div3') PoolShrk  
          li.divider(role='presentation')
          li#div4(role='presentation')
            a(role='menuitem', tabindex='-1', href='#project2', data-id='div4') True Spirit
          li.divider(role='presentation')
          li#div5(role='presentation')
            a(role='menuitem', tabindex='-1', href='#project3', data-id='div5') Rand McNally
    .mainwrapper(ng-controller='BtnCtrl as btn')  
      section.module.parallax.parallax-1.top
        .container
          h1 Andrew Cunliffe Design        
      section.module.content
        p.line#aboutMe
        h2 About Me
        h3 I'm Currently A Student In General Assembly's User Experienve Design Immersive Program     
        p.left
          img.inline(src='/images/cemetary2.png')
        p.verticalLine
        p.right(ng-controller='ModalCtrl') The course is 10 weeks long, and I am just about to begin my fifth week. Before pursuing a careeer in UX design I have previously been a Paratrooper in the US Army's 82nd Airborne Division, worked in the finance industry, attempted my own startup, and worked as a front end developer.
          button#btn.btn.btn-primary(ng-controller='BtnCtrl as btn', type='button', ng-model='singleModel', ng-click="open()") Contact Me
      section.module.parallax.parallax-2
        .container
          h1 stockickr
      section.module.content
        p.line#stockickr
        h2 stockickr
        h3 Mobile Stock Trading Patform
        p.left
          img.inline.ts(src='/images/SKiOS1stScreenTab.png')
        p.verticalLine
        p.right(ng-controller='ModalCtrl2') I came up with the idea of a social stock trading application while I was actively trading securities and blogging my trades.
          button#btn.btn.btn-primary(type='button', ng-model='singleModel', ng-click="open()") Continue Case Study
      section.module.parallax.parallax-3
        .container
          h1 PoolShrk
      section.module.content
        p.line#project1
        h2 PoolShrk
        h3 Teach Yourself To Be A Better Pool Player With Your Smartphone
        p.left
          img.inline.ts(src='/images/poolShrk.png')          
        p.verticalLine
        p.right(ng-controller='ModalCtrl3') This was our first project at UXDi, designed and presented during the first week. It was done all by hand, all sketching, no digetizing. Our task was to partner up and find a piece of our partner's life that could be improved with a mobile application.<br><br>My partner Ross wanted to get better at pool, so I designed an app where the user takes takes a picture of the table, answers whether he is playing stripes or solids, then determines what the best shot is for him to take, then tells him how and where to strike the Q-ball.
          button#btn.btn.btn-primary(type='button', ng-model='singleModel', ng-click="open()") Continue Case Study
      section.module.parallax.parallax-4
        .container
          h1 True Spirit
      section.module.content
        p#project2
        h2 True Spirit
        h3 Effiecent, Ellegant And Intuitive Ecommerce 
        p.left
          img.inline.ts(src='/images/1trueSpirit0.png')
        p.verticalLine
        p.right(ng-controller='ModalCtrl4') Our second project was to design an ecommerce site for a school uniform retailer, based on the needs of personas outlined in the project's brief, as well as by interviewing real users on our own.
          button#btn.btn.btn-primary(type='button', ng-model='singleModel', ng-click="open()") Continue Case Study
      section.module.parallax.parallax-5
        .container
          h1 Rand McNally
      section.module.content
        p#project3
        h2 Rand McNally
        h3 A GeoCaching App For Educators And Explorers
        p.left
          img.inline.ts(src='/images/RMFirst.png')
        p.verticalLine
        p.right(ng-controller='ModalCtrl5') Our second project was to design an ecommerce site for a school uniform retailer, based on the needs of personas outlined in the project's brief, as well as by interviewing real users on our own.
          button#btn.btn.btn-primary(type='button', ng-model='singleModel', ng-click="open()") Continue Case Study
     

  .mobilewrapper.container-fluid.show-phone.show-tablet.hidden-desktop
    .mobileBody
      .mobileContent  
        h3.menutext Andrew Cunliffe Design
    nav#nav.navbar.mobile.navbar-fixed-bottom.row-fluid(role='navigation')
      .container.dropup
        .menubutton.mobile(type='button', data-toggle='dropdown')
          img.logo4(src='/images/3linesMobile.png')
        h3.navtext1.hidden-phone Andrew Cunliffe Design
        a.linkedin-icon(href='https://www.linkedin.com/in/cunliffeandrew', target='_blank')
        ul#menu.dropdown-menu.dropup(role='menu')
          li#div1(role='presentation')
            a(role='menuitem', tabindex='-1', href='#aboutMe', data-id='div1') About Me
          li.divider(role='presentation')
          li#div2(role='presentation')
            a(role='menuitem', tabindex='-1', href='#stockickr', data-id='div2') stockickr  
          li.divider(role='presentation')
          li#div3(role='presentation')
            a(role='menuitem', tabindex='-1', href='#project1', data-id='div3') PoolShrk  
          li.divider(role='presentation')
          li#div4(role='presentation')
            a(role='menuitem', tabindex='-1', href='#project2', data-id='div5') True Spirit
          li.divider(role='presentation')
          li#div5(role='presentation')
            a(role='menuitem', tabindex='-1', href='#project3', data-id='div5') Rand McNally

  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular/angular-route.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/lib/jquery/jquery-2.0.3.min.js')
  script(src='js/bootstrap.min.js')
  script(src='js/angular-scroll.min.js')
  script(src='js/ui-bootstrap-tpls.min.js')
  script(src='js/angular-file-upload.js')
  script(src='js/jquery.scrollTo.js')
  script(src='js/jquery.localScroll.js')

  script.
    $(document).ready(function() {
      $('#div1').localScroll({duration:1700});
    });
  script.
    $(document).ready(function() {
      $('#div2').localScroll({duration:1700});
    });
  script.
    $(document).ready(function() {
      $('#div3').localScroll({duration:1700});
    });
  script.
    $(document).ready(function() {
      $('#div4').localScroll({duration:1700});
    });
  script.
    $(document).ready(function() {
      $('#div5').localScroll({duration:1700});
    });