extends layout

block body
  .container-fluid.hidden-phone.hidden-tablet(ng-controller='AppCtrl as app')   
    nav#nav.navbar.row-fluid(role='navigation')
      .rmenu
        .menubutton.desktop(type='button', data-toggle='dropdown')
          img.logo3(src='/images/3lines.png')
          h3.menutext Menu
        h3.navtext1.hidden-phone Andrew Cunliffe Design
        img.logo5.desktop(src='/images/AC1.png')
        ul#menu.dropdown-menu.dropdown-menu-left(role='menu', aria-labelledby='dropdownMenu1')
          li#div1(role='presentation')
            a(role='menuitem', tabindex='-1', href='#aboutMe', data-id='div1') About Me
          li.divider(role='presentation')
          li#div2(role='presentation')
            a(role='menuitem', tabindex='-1', href='#stockickr', data-id='div2') stockickr  
          li.divider(role='presentation')
          li#div3(role='presentation')
            a(role='menuitem', tabindex='-1', href='#project1', data-id='div3') My Portfolio
          li.divider(role='presentation')
          li#div4(role='presentation')
            a(role='menuitem', tabindex='-1', href='#project2', data-id='div4') True Spirit
          li.divider(role='presentation')
          li#div5(role='presentation')
            a(role='menuitem', tabindex='-1', href='#project3', data-id='div5') Rand McNally
    .mainwrapper(ng-controller='BtnCtrl as btn')  
      section.module.parallax.parallax-1.top
        .container
          h1 Andrew Cunliffe Design        
      section.module.content
        p.line#aboutMe
        h2 About Me
        h3 I'm Currently A Student In General Assembly's User Experience Design Immersive Program     
        p.left
          img.inline(src='/images/cemetary2.png')
        p.verticalLine
        p.right(ng-controller='ModalCtrl') The course is 10 weeks long, and I am just about to begin my fifth week. Before pursuing a careeer in UX design I have previously been a Paratrooper in the US Army's 82nd Airborne Division, worked in the finance industry, attempted my own startup, and worked as a front end developer.<br><br>All the content on this site is an original Andrew Cunliffe creation.
          <br><br>
          button#btn.btn.btn-primary(ng-controller='BtnCtrl as btn', type='button', ng-model='singleModel', ng-click="open()") Contact Me
      section.module.parallax.parallax-2
        .container
          h1 stockickr
      section.module.content
        p.line#stockickr
        h2 stockickr
        h3 Mobile Stock Trading Patform
        p.left
          img.inline.ts(src='/images/SKiOS1stScreenTab.png')
        p.verticalLine
        p.right(ng-controller='ModalCtrl2') I came up with the idea of a social stock trading application while I was actively trading securities and blogging my trades.
          <br><br>
          button#btn.btn.btn-primary(type='button', ng-model='singleModel', ng-click="open()") Continue Case Study
      section.module.parallax.parallax-3
        .container
          h1 My Portfolio
      section.module.content
        p.line#project1
        h2 My Portfolio
        h3 How do I display my work?
        p.left
          img.inline.ts(src='/images/mobileSite.png')          
        p.verticalLine
        p.right(ng-controller='ModalCtrl3') Figuring out how to showcase my work, and the thought processes behind it all, in a manner that provides an accurate representaion of the design process in an aesthetically pleasing manner, that is engaging to the user, is quite a cahllenge. <br><br>Every single piece of this website was built by me. From taking the parrallax pictures, to hand designing the logo, to utilizing AngularJS and Bootstrap to make it accesible across all devices.
          <br><br>
          button#btn.btn.btn-primary(type='button', ng-model='singleModel', ng-click="open()") Continue Case Study
      section.module.parallax.parallax-4
        .container
          h1 True Spirit
      section.module.content
        p#project2
        h2 True Spirit
        h3 Effiecent, Ellegant And Intuitive eCommerce 
        p.left
          img.inline.ts(src='/images/1trueSpirit0.png')
        p.verticalLine
        p.right(ng-controller='ModalCtrl4') Our second project was to design an eCommerce site for a school uniform retailer, based on the needs of personas outlined in the project's brief, as well as by interviewing real users on our own.
          <br><br>
          button#btn.btn.btn-primary(type='button', ng-model='singleModel', ng-click="open()") Continue Case Study
      section.module.parallax.parallax-5
        .container
          h1 Rand McNally 
      section.module.content
        p#project3
        h2 Rand McNally GeoCaching
        h3 A GeoCaching App For Educators And Explorers
        p.left
          img.inline.ts(src='/images/RMFirst.png')
        p.verticalLine
        p.right(ng-controller='ModalCtrl5') Our third project was to design a GeoCaching application for long time atlas, map, and GPS maker Rand McNally.
          <br><br>
          button#btn.btn.btn-primary(type='button', ng-model='singleModel', ng-click="open()") Continue Case Study     

  .mobilewrapper.container-fluid.show-phone.show-tablet.hidden-desktop(ng-controller='AppCtrl as app')
    nav#nav.navbar.mobile.navbar-fixed-bottom.row-fluid(role='navigation')
      .container.dropup
        .menubutton.mobile(type='button', data-toggle='dropdown')
          img.logo4(src='/images/3linesMobile.png')
        h3.navtext1.hidden-phone Andrew Cunliffe Design
        a(href='https://www.linkedin.com/in/cunliffeandrew', target='_blank')  
          img.logo5.mobile(src='/images/AC1.png')          
        ul#menu.dropdown-menu.mobile.dropup(role='menu', aria-labelledby='dropdownMenu1')
          li#div6(role='presentation')
            a(role='menuitem', tabindex='-1', href='#aboutMe2', data-id='div6') About Me
          li.divider(role='presentation')
          li#div7(role='presentation')
            a(role='menuitem', tabindex='-1', href='#stockickr2', data-id='div7') stockickr  
          li.divider(role='presentation')
          li#div8(role='presentation')
            a(role='menuitem', tabindex='-1', href='#project12', data-id='div8') My Portfolio  
          li.divider(role='presentation')
          li#div9(role='presentation')
            a(role='menuitem', tabindex='-1', href='#project23', data-id='div9') True Spirit
          li.divider(role='presentation')
          li#div10(role='presentation')
            a(role='menuitem', tabindex='-1', href='#project34', data-id='div10') Rand McNally          
    .mobileBody
      .mobileContent  
        .container-fluid
          h3.menutext.mobile Andrew Cunliffe Design
        .container-fluid.white#aboutMe2(ng-controller='ModalCtrl')
          h1 About Me
          h4 I'm Currently A Student In General Assembly's User Experience Design Immersive Program
          img.inline.ts.mobile(src='/images/cemetary2.png')
          <br><br>
          p The course is 10 weeks long, and I am just about to begin my sixth week. Before pursuing a careeer in UX design I have previously been a Paratrooper in the US Army's 82nd Airborne Division, worked in the finance industry, attempted my own startup, and worked as a front end developer.
          button#btn.btn.btn-primary.mobile(type='button', ng-model='singleModel', ng-click="open()") Contact and Resume
        .container-fluid.white#stockickr2(ng-controller='ModalCtrl2')
          h1 stockickr
          h4 Mobile Stock Trading Patform
          img.inline.ts(src='/images/SKiOS1stScreenTab.png')
          <br><br>  
          p I came up with the idea of a social stock trading application while I was actively trading securities and blogging my trades.<br><br>          
          button#btn.btn.btn-primary.mobile(type='button', ng-model='singleModel', ng-click="open()") Continue Case Study
        .container-fluid.white#project12(ng-controller='ModalCtrl3')
          h1 My Portfolio
          h4 How do I display my work?
          img.inline.ts(src='/images/mobileSite.png')
          <br><br>  
          p Figuring out how to showcase my work, and the thought processes behind it all, in a manner that provides an accurate representaion of the design process in an aesthetically pleasing manner, that is engaging to the user, is quite a cahllenge. <br><br>Every single piece of this website was built by me. From taking the parrallax pictures, to hand designing the logo, to utilizing AngularJS and Bootstrap to make it accesible across all devices.<br><br>         
          button#btn.btn.btn-primary.mobile(type='button', ng-model='singleModel', ng-click="open()") Continue Case Study
        .container-fluid.white#project23(ng-controller='ModalCtrl4')
          h1 TrueSpirit
          h4 Effiecent, Ellegant And Intuitive eCommerce
          img.inline.ts(src='/images/1trueSpirit0.png')
          <br><br>  
          p Our second project was to design an eCommerce site for a school uniform retailer, based on the needs of personas outlined in the project's brief, as well as by interviewing real users on our own.<br><br>          
          button#btn.btn.btn-primary.mobile(type='button', ng-model='singleModel', ng-click="open()") Continue Case Study
        .container-fluid.white#project34(ng-controller='ModalCtrl5')
          h1 Rand McNally GeoCaching
          h4 A GeoCaching App For Educators And Explorers
          img.inline.ts(src='/images/RMFirst.png')
          <br><br>  
          p Our third project was to design a GeoCaching application for long time atlas, map, and GPS maker Rand McNally.<br><br>          
          button#btn.btn.btn-primary.mobile(type='button', ng-model='singleModel', ng-click="open()") Continue Case Study
        .container-fluid.white
          h4 This is an Andrew Cunliffe creation



  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular/angular-route.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/lib/jquery/jquery-2.0.3.min.js')
  script(src='js/bootstrap.min.js')
  script(src='js/angular-scroll.min.js')
  script(src='js/ui-bootstrap-tpls.min.js')
  script(src='js/angular-file-upload.js')
  script(src='js/jquery.scrollTo.js')
  script(src='js/jquery.localScroll.js')

  script.
    $(document).ready(function() {
      $('#div1').localScroll({duration:3000});
    });
  script.
    $(document).ready(function() {
      $('#div2').localScroll({duration:3000});
    });
  script.
    $(document).ready(function() {
      $('#div3').localScroll({duration:3000});
    });
  script.
    $(document).ready(function() {
      $('#div4').localScroll({duration:3000});
    });
  script.
    $(document).ready(function() {
      $('#div5').localScroll({duration:3000});
    });

  script.
    $(document).ready(function() {
      $('#div6').localScroll({duration:1700});
    });
  script.
    $(document).ready(function() {
      $('#div7').localScroll({duration:1700});
    });
  script.
    $(document).ready(function() {
      $('#div8').localScroll({duration:1700});
    });
  script.
    $(document).ready(function() {
      $('#div9').localScroll({duration:1700});
    });
  script.
    $(document).ready(function() {
      $('#div10').localScroll({duration:1700});
    });